
.conteinerProducts{
  max-width:1440px ;
width: 100%;
  display: flex; 
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px; 
padding: 30px;
}
.allProduct_title{
  margin-top: 20px;
  padding: 0 30px;
  color: #282828;
font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 700;
}

