.orderForm{
  width: 100%;
}
.order {
width: 100%;
  height: auto;
   display: flex;
   padding: 29px;
   border-radius: 12px;
background: #F1F3F4;
flex-direction: column;
   align-items: flex-start;
   overflow: hidden;
 }
 
 .order_title {
   max-width:484px;
   max-height: 58px;
   font-family: Montserrat;
font-size: 40px;
color:#282828;
font-weight: 700;
  
 }
 
   .line {
      display: inline-block;
      margin: 0 8px;
      height: 1px; 
      width: 20px;
    }
   
 .amount{
  max-width: 148px;
 
  max-height: 52px;
   margin-top: 1px;
   color: #8B8B8B; 
   font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 500;
gap: 10px;
 }
 .order_summ {
   display: flex;
 justify-content: space-between;
   width: 100%;
  
 }
 .title{
   margin-top: 2px;
   color:#8B8B8B;
   font-family: Montserrat;
   font-size: 40px;
   font-style: normal;
   font-weight: 500;  
 }
 .totalSumm{
  
   color: #282828;
font-family: Montserrat;
font-size: 54px;
font-style: normal;
font-weight: 700;
margin-top: -10px;

 }
 .formContainer {
  max-width: 700px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }
 
 .label {
  
   margin-bottom: 2px; 
 }
 
 .input {
   max-width:484px;
   max-height: 58px;
   padding: 8px;
   margin-bottom: 1px;
 }
 @media (min-width: 1024px) {
  .order {
      padding: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .order {
      padding: 20px;
  }
  .order_title {
      font-size: 32px;
  }
  .amount {
      font-size: 32px;
      max-width: 120px;
  }
  .totalSumm {
      font-size: 48px;
  }
}

@media (max-width: 768px) {
  .order {
      padding: 15px;
  }
  .order_title {
      font-size: 24px;
  }
  .amount {
      font-size: 24px;
      max-width: 100px;
  }
  .totalSumm {
      font-size: 36px;
  }
}

