.formContainer {
   max-width: 400px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

 }
 
 .label {
  width: 140%;
   display: block;
 
   
 }
 
 .input {
   width: 100%;
   padding: 10px;
   
}

 
 .button {
 width: 150%;
   background-color: #4caf50;
   color: #fff;
   padding: 14px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }
 .orderPlaced {
background-color: #fff;
  color: #282828;
}
