.discont_container{
  width: 100%;
  height: auto;

}
 .title{
  margin-left: 40px;
   color: #282828;
font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 700;
 }

  .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 30px;
  }
  
  .productItem {
   
    width: 24%; 
    margin-bottom: 26px; 
  } 
 .container{
  width: 100%;

 }