.product_item {
   display: grid;
   grid-template-columns: 250px minmax(100px, 2fr) minmax(100px, 1fr) auto;
   grid-template-rows: 250px;
   gap: 3px;
   border-radius: 15px;
   border: 1px solid #DDD;
 }

 .product_item button {
   border: none;
   outline: none;
   background: transparent;
   cursor: pointer;
 }
 .product_img {
   width: 100%;
   border-radius: 15px;
   object-fit: cover;
   border: 1px solid #DDD;
 }
 .grid_item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
margin-left: 32px;
 }
 .controls_container {
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.count {
width: 40%;
padding: 10px;
text-align: center;
  border: 1px solid #DDD;

}
 .product_name {
  text-overflow: ellipsis;
font-family: Montserrat;
   font-weight: 600;
   font-size: 28px;
   color: #282828;;
 }
 .btns_blok {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 60%;
   border-radius: 10px;
   font-weight: 600;
   font-size: 20px;
   border: 1px solid #DDD;
 }
 .btn {
  display: flex;
  font-size: 35px;
  border-radius: 12px;
  border: 1px solid #DDD;
 }
 .prices {
  margin-left: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: center;
 }
 .final_price {
   font-weight: 600;
   font-size: 40px;
 }
 .small_text {
   font-size: 22px;
 }
 .price {
  margin-left: 20px;
   font-weight: 500;
   font-size: 20px;
   text-decoration-line: line-through;
   color: #8b8b8b;
 }
 .del_btn {
  margin-top: 25px;
margin-right: -65px;
  align-self: flex-start;
 }