.navButton {
  max-width: 120px;
  max-height: 36px;
margin-top: 30px;
  color:#8B8B8B;
  font-size: 16px;
  font-family: Montserrat;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius:  6px;
  border: 1px solid  #DDD;
  margin-right: 16px;
}

.mainButton {
  color:  #282828;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
padding: 8px 16px;
justify-content: center;
align-items: center;
border-radius:  6px;
border: 1px solid  #DDD;
}