.filterForm {
  display: flex;
  flex-direction:row;

  gap: 30px;
  margin-bottom: 35px;
  margin-left: 40px;
}



.label {
  color: #282828;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
}

.inputs_price,
.checkbox,
.sort_options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.inputs_price input {
  width: 100px;
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 6px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
}

.inputs_price input::placeholder {
  font-weight: 500;
  font-size: 16px;
  color: #8B8B8B;
}


.sort_options select {
  border: 1px solid#DDD;
  border-radius: 6px;
  background-color: #FFF;
  max-width: 220px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #282828;
  outline: none;
  cursor: pointer;
}

@media (max-width: 960px) {
  .label {
    font-weight: 500;
    font-size: 16px;
  }

  .inputs_price input {
    width: 70px;
  }

  .sort_options select {
    width: 120px;
  }
}



  @media (max-width: 700px) {
    .inputs_price input,
    .sort_options select {
      width: 50%;
    }
  
    .filterForm {
      flex-direction: column;
      gap: 20px;
    }
  }
  