
.home-container {
  width: 100%;
  /* height: auto; */
  max-height: 3900px;
}

.header-container {
  /* max-height: 600px; */
  position: relative;
  text-align: start;

}

.header-image {
  width: 100%;
  max-height: 600px;
}

.header-content {
  margin-left: 2em;
  position: absolute;
  max-width: 1260px;
  max-height: 212px;
  top: 2px;
  padding: 1em;
  gap: 30px;
}

.header-content h2 {
  font-family: 'Montserrat', sans-serif;
  max-width: 830px;
  max-height: 212px;
  font-weight: 700px;
  font-size: 76px;
  color: #FFFFFF;
  margin-bottom: 25px;
}


.header-button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #393;
  color: #FFFFFF;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-left: 0.5em;
  font-family: Montserrat;
  text-decoration: none;
}

.paragraph {
  color: #282828;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;

}

.gallery_container {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: space-between;

}

.categories-container {
  width: 100%;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
}

.line {
  border-bottom: 1px solid #DDD;
  margin: 0 -20px;
  flex-grow: 1;
  margin-left: 50px;

}


/* categoies  */
.categories {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.content_sales {
  margin-top: 4em;
 width: 98%;
  height: auto;
  display: flex;
  align-items: center;

}

.all_sales_button {

  max-width: 97px;
  max-height: 36px;
  display: flex;
  padding: 8px 16px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #DDD;
  text-decoration: none;
  color: #8B8B8B;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}

.saleTitle {
  color: #282828;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  padding: 0 30px;
}

.line_sale {
  border-bottom: 1px solid #DDD;
  flex-grow: 1;
  margin-left: 50px;

}

.all_categories_button {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  justify-content: center;
  width: 100%;
  max-width: 142px;
  max-height: 36px;
  border-radius: 6px;
  border: 1px solid #DDD;
  color: #8B8B8B;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.discount_text {
  margin-top: 30px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.discountFor_discountImage {
  max-width: 98%;
  height: auto;
}

.background_container {
  margin-top: 20px;
  margin-left: 35px;
  max-width: 1360px;
  max-height: 480px;
  background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
  border-radius: 12px;
}

.products_on_sale {
  /* width: 70%; */
  max-width: 1360px;
  max-height: 100px;
}

@media only screen and (max-width: 768px) {
  .paragraph {
    font-size: 2em;
  }

  .header-content {
    margin-left: 3em;

  }

  .header-content h2 {
    font-size: 2.5em;
    max-height: 122px;
    max-width: 600px;
    margin-bottom: 15px;

  }

  .header-button {
    margin-left: 0;
  }

  .categories-container {
    padding: 0 20px;
  }
  .saleTitle {
    margin-top: 250px;
  }
  .all_sales_button{
   margin-top: 150px; 
  }
  .line_sale{
    margin-top: 150px;
  }
}