.navbar {
     max-width: 1440px;
  max-height: 128px; 
   background-color:
   #FFFFFF; 
   /* padding: 5px; */
   margin-top: 30px;
 font-family: 'Montserrat', sans-serif;
font-size: 20px;
border-bottom: 1px solid var(--grey-divider, #DDD);

 }
 @media only screen and (max-width: 768px) {
  .navbar {
 font-size: 16px; 
    padding: 3px; 
  }
}

 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
 
 .nav_list { 
  top: 54px;
   list-style: none; 
   padding: 0; 
   display: flex; 
   justify-content: flex-start;
   gap: 32px; 
 }
 
 .nav-link {
   text-decoration: none; 
   color: 
   #282828; 
  width:108px;
height:26px ;
 }
 .active {
  color:
  #339933;
}
.logo img {
  width: 100%;
  height: auto;
}
.logo {
  margin-left: 2em;
  top: 20px;
  max-width: 70px;
  max-height: 70px;

  @media screen and (max-width: 768px) {
    max-width: 35px;
    max-height: 35px;
    margin-left: 1em; 
    top: 10px; 
  }
}

.busket {
  top: 41px;
  margin-right: 2.5em;
}
.basket_counter{
  position: relative;
 top: -49px;
 border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color:#339933 ;
    color: #ffff;
    text-align: center;
    font-size: 0.8em;
    z-index: 999;
    @media screen and (max-width: 768px) {
      width: 14px;
      height: 14px;
      top: -24px;
    }
 }
 .no-quantity::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
 }

.busket img {
  margin-top: 1em;
  width: 52px;
  height: 52px;

  @media screen and (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
}