.buttonContainer{
  width: 100%;

}
.button {
 margin-top: -51px;
   color: #FFF;
   text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
   cursor: pointer;
   display: flex;
width: 90%;
max-height: 50px;
padding: 16px 32px;
justify-content: center;
align-items: center;
position: absolute;
left: 16px;
border-radius:  6px;
background: #393;
z-index: 2;
overflow: hidden;
}
.active{
  padding: 16px 32px;
justify-content: center;
align-items: center;
position: absolute;
left: 16px;
border-radius:  6px;
  font-size: 20px;
font-style: normal;
font-weight: 600;
   cursor: pointer;
   display: flex;
width: 90%;
max-height: 50px;
  margin-top: -51px;
  z-index: 2;
   background: #282828;
   color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
 }
 
 .productItem {
   width: 100%;
   border: 1px solid #ddd;
   border-radius: 5px;
   text-decoration: none;
   position: relative;
   box-sizing: border-box;
   overflow: hidden;
 } 
 
 