.discountFormContainer {
  display: flex;
  justify-content: space-betwee;
  width: 100%;
  height: auto;
  background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
  border-radius: 12px;
  margin-top: -22px;
  position: relative;
  overflow: hidden;

}
.imageContainer{
 max-width: 748px; 
 border-radius: 12px;
 background: cover no-repeat;
}
.discountImage {
  width: 100%;
}
 .inputLabel {
  margin-left: 40px;
  margin-top: 20px;
   display: block;
   margin-bottom: 10px;
  }

.inputField {
border-radius: 6px;
border: 1px solid  #FFF;
width: 100%;
padding: 16px 1px;
margin-bottom: 10px;
background:  linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);

 } 
 .inputField::placeholder {
  color: #FFF; 
  font-style: italic; 
  font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
padding: 10px;
}
  .inputContainer {
  flex-grow: 1;
  margin-right: 10px;
} 
 .button { 
  margin-left: 40px;
 color: #282828;
   border: none;
   cursor: pointer;
   display: flex;
width: 94%;
max-height: 58px;
border-radius: 6px;
background: #FFF;
gap: 10px;
 }
 .clickedButton {
color:#393;
border: none;
cursor: pointer;
display: flex;
width: 100%;
border-radius: 6px;
background-color: #FFF;
gap: 10px;
 }
 .button_discount{
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
margin-left: auto;
  margin-right: auto;
}
 @media only screen and (max-width: 768px) {
  .discountFormContainer {
    flex-direction: column; 
    align-items: center; 
    margin-left: 0;
   
  }

  .imageContainer {
    max-width: 100%;
    margin-left: 0; 
  
  }

  .inputField {
    padding: 10px; 
  }
}
 