.conteinerProducts {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
  align-items: stretch;
  gap: 16px;
  /* padding: 0px 20px; */
}

@media (min-width: 1024px) {
  .conteinerProducts {
    padding: 0 30px;
    gap: 20px;
    
  }
}



@media (max-width: 768px) {
  .conteinerProducts {
    padding: 10px 25px;
    gap: 10px;

  }
}

@media only screen and (max-width: 400px) {
  .productContainer {
    padding: 0 25px;
    gap: 10px;

  }
  .productInfo_title{
 font-size: 12px;
  }

  .productInfo_price_discounted,
  .productInfo_price_no_discount {
    font-size: 10px;
   
  }
}