.breadcrumbs {
   display: flex;
   align-items: center;
   padding: 40px;
 }
 
 .breadcrumbLink {
   text-decoration: none;
   color: #8B8B8B;
 }
 
 .breadcrumbItem {
   margin-right: 16px;
  max-width: 120px;
   max-height: 86px;
   background:#FFFFFF ;
   color: #8B8B8B;
   font-size: 16px;
   background: #f6f3f3;
   font-family: Montserrat;
   padding: 8px 16px;
   justify-content: center;
   align-items: center;
   border-radius: 6px;
   border: 1px solid #DDD;
   margin-right: 26px;
 }
 .breadcrumbsSeparator {
   border-bottom: 1px solid #DDD;
   flex-grow: 1;
   height: 2px;
   margin-top: 24px;
  background: #DDD;
 
 }
  @media only screen and (max-width: 1024px) {
  .breadcrumbs {
    padding: 20px;
  }

  .breadcrumbItem {
    max-width: 100%;
    margin-right: 10px;
  }
}


 @media only screen and (max-width: 768px) {
  .breadcrumbItem {
    max-width: 100%;
    margin-right: 10px;
  }

  .breadcrumbsSeparator {
    display: none;
  }
} 


@media only screen and (max-width: 400px) {
  .breadcrumbs {
    padding: 22px 15px;
    gap: 10px;
  }

  .breadcrumbItem {
    max-width: 100%;
    margin-right: 5px;
  }
} 