.title {
   color:  #282828;
font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 700;
margin-left: 0.6em;
 }
 .productContainer {
   display: flex;
 flex-wrap: wrap;
   gap: 36px;
   margin-left: 2.5em;
  
 }
 
 .productItem {
   width:100%;
   border: 1px solid #ddd;
   border-radius: 5px;
   text-decoration: none;
   position: relative;
   box-sizing: border-box; 
 }
 .breadcrumbs{
  padding:  40px;
 display: flex;
align-items: center;

 }
 @media (max-width: 1024px) {
  .title {
    font-size: 48px;
  }

  .productContainer {
    margin-left: 1em; 
  }

  .breadcrumbs {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 36px; 
  }

  .productContainer {
    margin-left: 0.5em;
  }

  .breadcrumbs {
    padding: 5px;
  }
}


@media (max-width: 400px) {
  .title {
    font-size: 24px;
  }

  .productContainer {
    margin-left: 0;
  }

  .breadcrumbs {
    padding: 2px; 
  }
}
 
 
      
    
   
   
   
  
   
 